src/META-INF/RssWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://rsswebservice.portfolio.melanio.reyes" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://actions.rsswebservice.portfolio.melanio.reyes/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rsswebservice.portfolio.melanio.reyes">
    <wsdl:documentation>RssWebService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://actions.rsswebservice.portfolio.melanio.reyes/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rsswebservice.portfolio.melanio.reyes">
            <xs:import namespace="http://actions.rsswebservice.portfolio.melanio.reyes/xsd"/>
            <xs:element name="updateFeed">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feedId" type="xs:long"/>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateFeedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertFeed">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertFeedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="digestFeed">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feedId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="digestFeedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFeed">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feedId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFeedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WebServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://actions.rsswebservice.portfolio.melanio.reyes/xsd">
            <xs:complexType name="WebServiceResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="feedId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseCode" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateFeedRequest">
        <wsdl:part name="parameters" element="ns:updateFeed"/>
    </wsdl:message>
    <wsdl:message name="updateFeedResponse">
        <wsdl:part name="parameters" element="ns:updateFeedResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteFeedRequest">
        <wsdl:part name="parameters" element="ns:deleteFeed"/>
    </wsdl:message>
    <wsdl:message name="deleteFeedResponse">
        <wsdl:part name="parameters" element="ns:deleteFeedResponse"/>
    </wsdl:message>
    <wsdl:message name="digestFeedRequest">
        <wsdl:part name="parameters" element="ns:digestFeed"/>
    </wsdl:message>
    <wsdl:message name="digestFeedResponse">
        <wsdl:part name="parameters" element="ns:digestFeedResponse"/>
    </wsdl:message>
    <wsdl:message name="insertFeedRequest">
        <wsdl:part name="parameters" element="ns:insertFeed"/>
    </wsdl:message>
    <wsdl:message name="insertFeedResponse">
        <wsdl:part name="parameters" element="ns:insertFeedResponse"/>
    </wsdl:message>
    <wsdl:portType name="RssWebServicePortType">
        <wsdl:operation name="updateFeed">
            <wsdl:input message="ns:updateFeedRequest" wsaw:Action="urn:updateFeed"/>
            <wsdl:output message="ns:updateFeedResponse" wsaw:Action="urn:updateFeedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteFeed">
            <wsdl:input message="ns:deleteFeedRequest" wsaw:Action="urn:deleteFeed"/>
            <wsdl:output message="ns:deleteFeedResponse" wsaw:Action="urn:deleteFeedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="digestFeed">
            <wsdl:input message="ns:digestFeedRequest" wsaw:Action="urn:digestFeed"/>
            <wsdl:output message="ns:digestFeedResponse" wsaw:Action="urn:digestFeedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="insertFeed">
            <wsdl:input message="ns:insertFeedRequest" wsaw:Action="urn:insertFeed"/>
            <wsdl:output message="ns:insertFeedResponse" wsaw:Action="urn:insertFeedResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RssWebServiceSoap11Binding" type="ns:RssWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateFeed">
            <soap:operation soapAction="urn:updateFeed" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFeed">
            <soap:operation soapAction="urn:deleteFeed" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="digestFeed">
            <soap:operation soapAction="urn:digestFeed" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertFeed">
            <soap:operation soapAction="urn:insertFeed" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RssWebServiceSoap12Binding" type="ns:RssWebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateFeed">
            <soap12:operation soapAction="urn:updateFeed" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFeed">
            <soap12:operation soapAction="urn:deleteFeed" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="digestFeed">
            <soap12:operation soapAction="urn:digestFeed" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertFeed">
            <soap12:operation soapAction="urn:insertFeed" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RssWebServiceHttpBinding" type="ns:RssWebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateFeed">
            <http:operation location="updateFeed"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFeed">
            <http:operation location="deleteFeed"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="digestFeed">
            <http:operation location="digestFeed"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertFeed">
            <http:operation location="insertFeed"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RssWebService">
        <wsdl:port name="RssWebServiceHttpSoap11Endpoint" binding="ns:RssWebServiceSoap11Binding">
            <soap:address location="http://localhost:8081/axis2/services/RssWebService.RssWebServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RssWebServiceHttpSoap12Endpoint" binding="ns:RssWebServiceSoap12Binding">
            <soap12:address location="http://localhost:8081/axis2/services/RssWebService.RssWebServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RssWebServiceHttpEndpoint" binding="ns:RssWebServiceHttpBinding">
            <http:address location="http://localhost:8081/axis2/services/RssWebService.RssWebServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
